.counters {
  @apply flex items-start gap-x-[70px];

  animation: marquee 20s linear infinite;
  animation-delay: -20s;
}

.counters:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
