.firstTrain {
  position: absolute;
  top: 0;
  left: 0;

  z-index: 2;

  width: 65px;
  height: 65px;

  offset-path: path(
    "M813.726 216.739C919.114 192.981 1016.76 0.263029 1063.34 97.6189C1083.43 139.592 1038.37 234.784 1039.42 281.291C1042.87 434.198 1202.95 570.578 1101.2 606.552C1065.18 619.288 1041.25 611.388 1003.35 606.552C910.409 594.694 868.007 514.538 786.586 503.838C705.166 493.139 726.949 622.958 726.949 693.217C726.949 763.476 575.302 764.722 471.975 763.833C260.483 762.013 66.7397 575.973 27.376 454.978C-30.5928 276.796 -0.835387 51.6115 195.574 5.60433C391.982 -40.4028 564.856 272.841 813.726 216.739Z"
  );
}

.firstSecond {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  width: 81px;
  height: 81px;

  offset-path: path(
    "M813.726 216.739C919.114 192.981 1016.76 0.263029 1063.34 97.6189C1083.43 139.592 1038.37 234.784 1039.42 281.291C1042.87 434.198 1202.95 570.578 1101.2 606.552C1065.18 619.288 1041.25 611.388 1003.35 606.552C910.409 594.694 868.007 514.538 786.586 503.838C705.166 493.139 726.949 622.958 726.949 693.217C726.949 763.476 575.302 764.722 471.975 763.833C260.483 762.013 66.7397 575.973 27.376 454.978C-30.5928 276.796 -0.835387 51.6115 195.574 5.60433C391.982 -40.4028 564.856 272.841 813.726 216.739Z"
  );
}
